<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-50 w-56 h-screen transition-transform -translate-x-full bg-white border-r border-basic-300 sm:translate-x-0"
  aria-label="Sidebar"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="h-full pb-4 overflow-y-auto bg-white">
    <div class="flex items-center p-4 h-20 border-b border-basic-300">
      <app-img-flowly logoType="ICON"></app-img-flowly>
    </div>
    <ul class="font-medium">
      <li *ngFor="let sidebarLink of sidebarLinks">
        <app-sidebar-link [sidebarLink]="sidebarLink"></app-sidebar-link>
      </li>
    </ul>
  </div>
</aside>
