<button
  type="button"
  class="
    font-heebo
    text-base
    inline-block
    py-4
    px-6
    bg-{{ colorBg }}-600
    text-{{ colorTxt }}
    font-medium
    leading-tight
    rounded
    shadow-md
    hover:bg-{{ colorBg }}-700
    hover:shadow-lg
    focus:bg-{{ colorBg }}-700
    focus:shadow-lg
    focus:outline-none
    focus:ring-0
    active:bg-{{ colorBg }}-800
    active:shadow-lg
    transition
    duration-150
    ease-in-out
    disabled:opacity-50
    {{ classUp.join(' ') }}
  "
  [disabled]="disabled"
  (click)="clickButton.emit()"
>
  <ng-content></ng-content>
</button>
