<div class="w-screen max-w-md px-12 py-4">
  <form [formGroup]="loginForm">
    <h1 class="font-barlow text-gray-600 mb-8 self-start text-3xl">
      Fazer Login
    </h1>

    <app-input label="e-mail" [control]="loginForm.get('email')"></app-input>

    <app-input
      label="senha"
      [type]="'password'"
      [control]="loginForm.get('senha')"
    ></app-input>

    <app-button
      (clickButton)="loginUser()"
      colorBg="primary"
      colorTxt="white"
      [disabled]="loginForm.invalid || isLoading"
      [classUp]="['w-full', 'mt-4']"
    >
      {{ isLoading ? "" : "Entrar" }}
      <app-loading *ngIf="isLoading"></app-loading>
    </app-button>

    <div *ngIf="errorMessage !== ''" class="error-style">
      <p>{{ errorMessage }}</p>
    </div>

    <div class="mt-8 flex items-center">
      <app-icon-warning-circle stroke="#eab308"></app-icon-warning-circle>
      <a
        class="font-heebo text-gray-400 ml-2"
        routerLink="/login/reset-password"
      >
        Esqueci a senha!
      </a>
    </div>

    <div class="mt-8 flex items-center">
      <app-icon-warning-circle stroke="#ef4444"></app-icon-warning-circle>
      <a class="font-heebo text-gray-400 ml-2" routerLink="/login/sign-up">
        Criar conta.
      </a>
    </div>
  </form>
</div>
