<ng-container [ngSwitch]="item[0]">
    <ng-container *ngSwitchCase="'status'">
        <app-badge-status [status]="item[1]" />
    </ng-container>

    <ng-container *ngSwitchCase="'propostas'">
        <ng-container *ngIf="item[1].length === 0; else documento">
            Nenhuma proposta criada
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'contratos'">
        <ng-container *ngIf="item[1].length === 0; else documento">
            <span class="font-semibold text-txt-disabled text-sm">Nenhum contrato criado</span>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>{{ item[1] }}</ng-container>
</ng-container>

<ng-template #documento>
    <div *ngIf="item[1].length === 1; else documentos" class="flex gap-2 justify-between">
        <p class="text-ellipsis overflow-hidden whitespace-nowrap">{{ item[1][0].titulo }}</p>
        <app-badge-status [status]="item[1][0].status" />
    </div>
</ng-template>

<ng-template #documentos>
    <div class="flex gap-2 items-center justify-between cursor-pointer" (click)="openDropdown()">
        <div class="text-txt-disabled" [ngClass]="isDropdownClosed? 'rotate-0': 'rotate-90'"><app-icon-chevron />
        </div>
        <span class="flex-grow text-ellipsis overflow-hidden transition-colors" [ngClass]="isDropdownClosed? '': 'text-txt-disabled'">{{ item[0] | lowercase }}</span>
        <app-badge-status [status]="highestStatus" *ngIf="isDropdownClosed" />
    </div>
    <!-- [ngClass]="isDropdownClosed? 'max-h-[0rem]': 'max-h-[100rem]'" -->
    <div class="overflow-hidden" [ngClass]="isDropdownClosed? 'closed': 'open'">
        <ul class="bg-basic-200 rounded-lg border border-basic-300 mt-2">
            <li *ngFor="let documento of item[1]" class="flex gap-2 justify-between p-2 text-sm border-b last:border-b-0 border-basic-300">
                <p class="text-ellipsis overflow-hidden">{{ documento.titulo }}</p>
                <app-badge-status [status]="documento.status" />
            </li>
        </ul>
    </div>
</ng-template>