<ng-container [ngSwitch]="item[0]">
    <ng-container *ngSwitchCase="'status'">
        <div p-4>
            <app-badge-status [status]="item[1]" />
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'propostas'">
        <ng-container *ngIf="item[1].length === 0; else documento">
            <div class="font-medium text-txt-disabled text-ellipsis overflow-hidden p-4">Nenhuma proposta criada</div>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'contratos'">
        <ng-container *ngIf="item[1].length === 0; else documento">
            <div class="font-medium text-txt-disabled text-ellipsis overflow-hidden p-4">Nenhum contrato criado</div>
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault><p class="text-ellipsis overflow-hidden p-4">{{ item[1] }}</p></ng-container>
</ng-container>

<ng-template #documento>
    <div *ngIf="item[1].length === 1; else documentos" class="flex gap-2 justify-between p-4">
        <p class="text-ellipsis overflow-hidden whitespace-nowrap">{{ item[1][0].titulo }}</p>
        <app-badge-status [status]="item[1][0].status" />
    </div>
</ng-template>

<ng-template #documentos>
    <div 
    class="flex gap-2 items-center justify-between p-4 cursor-pointer" 
    (click)="openDropdown()"
    >
        <div 
        class="text-txt-disabled"
        [ngClass]="isDropdownClosed? 'rotate-0': 'rotate-90'"
        ><app-icon-chevron/></div>
        <span class="flex-grow text-ellipsis overflow-hidden">{{ item[0] | titlecase }}</span>
        <app-badge-status [status]="highestStatus" *ngIf="isDropdownClosed" />
    </div>

    <div 
    class="overflow-hidden"
    [ngClass]="isDropdownClosed? 'max-h-[0rem]': 'max-h-[100rem]'"
    >
        <ul>
            <li *ngFor="let documento of item[1]" class="flex gap-2 justify-between p-2 text-sm">
                <p class="text-ellipsis overflow-hidden">{{ documento.titulo }}</p>
                <app-badge-status [status]="documento.status" />
            </li>
        </ul>
    </div>
</ng-template>