<div class="min-w-[50] rounded-lg border border-basic-300 bg-basic-100 shadow" [ngSwitch]="data.modalType">
  <ng-container *ngSwitchDefault>
    <div class="border-b border-basic-300 p-4">
      <h2 class="text-lg font-bold">
        {{ data.title }}<span> - </span><span>{{ data.modalType }}</span>
      </h2>
      <p class="text-base font-semibold">{{ data.subtitle }}</p>
    </div>
    <div class="p-4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
    <div class="flex justify-end gap-3 border-t border-basic-300 p-4">
      <app-button (click)="close()" colorBg="ghost">Cancelar</app-button>
      <app-button (click)="close()">Salvar</app-button>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'CREATE_CLIENTE'">
    <app-create-cliente></app-create-cliente>
  </ng-container>
  <ng-container *ngSwitchCase="'CREATE_PROPOSTA'">
    <app-create-proposta></app-create-proposta>
  </ng-container>
  <ng-container *ngSwitchCase="'CREATE_CONTRATO'">
    <app-create-contrato></app-create-contrato>
  </ng-container>
  <ng-container *ngSwitchCase="'CREATE_PROJETO'">
    <app-create-projeto />
  </ng-container>
</div>