<app-page-layout>
  <div class="w-full pb-2 pt-4">
    <app-page-header
      page="Clientes"
      (openPopup)="openModal($event)"
    ></app-page-header>
  </div>
  <div class="w-full flex-grow">
    <div
    *ngIf="isLoading"
    class="w-full rounded-md border border-basic-300 bg-basic-100 p-8 text-txt-accent"
  >
    <app-loading></app-loading>
  </div>
    <app-table-list
      [rows]="clients"
      (clickButtonDelete)="deleteCliente($event)"
      (clickButtonEdit)="editCliente($event)"
      *ngIf="!isLoading"
    ></app-table-list>
  </div>
</app-page-layout>
