<div class="relative my-4">
  <label
    for="txt-{{ label }}"
    class="uppercase"
    [ngClass]="
      control?.errors && control?.touched ? 'text-red-400' : 'text-gray-400'
    "
  >
    {{ label }}
    {{
      control?.errors && control?.touched && control.hasError("required")
        ? " - obrigatório"
        : control?.errors && control?.touched && control.hasError("email")
        ? " - invalido"
        : ""
    }}
  </label>
  <input
    autocomplete="off"
    [type]="type"
    [formControl]="control"
    id="input-{{ label }}"
    class="font-heebo mt-2 w-full rounded-xl border-solid border-gray-200 p-6 pb-3 text-base"
    [ngClass]="
      control?.errors && control?.touched ? 'border-red-500' : 'border-gray-200'
    "
    placeholder=" "
  />
</div>
