<div class="mb-4">
  <label for="txt-{{ label }}" [class]="labelClass" [ngClass]="
      control?.errors && control?.touched ? 'text-danger-500' : ''
    ">
    {{ label }}
    {{
    control?.errors && control?.touched && control.hasError("required")
    ? " - obrigatório"
    : control?.errors && control?.touched && control.hasError("email")
    ? " - invalido"
    : ""
    }}
  </label>
  <input autocomplete="off" [type]="type" [formControl]="control" id="input-{{ label }}" [class]="inputClass" [ngClass]="
      control?.errors && control?.touched ? 'border-danger-500 bg-danger-100' : ''
    " placeholder=" "
    />
</div>