<div class="w-screen max-w-md px-12 py-4">
  <form [formGroup]="resetPasswordForm">
    <div class="mb-4">
      <app-img-flowly [logoType]="'DEFAULT'" height="37.5" width="105"></app-img-flowly>
    </div>
    <h1 class="text-txt-default mb-8 self-start text-xl font-semibold">
      Recuperar Senha
    </h1>

    <app-input
      label="e-mail"
      [control]="resetPasswordForm.get('resetEmail')"
    ></app-input>

    <app-button
      (clickButton)="loginUser()"
      colorBg="primary"
      [disabled]="resetPasswordForm.invalid"
      [classUp]="['w-full', 'mt-4']"
    >
      Entrar
    </app-button>

    <!-- <div *ngIf="firebaseErrorMessage != ''" class="error-style">
        <p>{{ firebaseErrorMessage }}</p>
      </div> -->

    <div class="mt-8 flex items-center">
      <app-icon-warning-circle stroke="#22c55e"></app-icon-warning-circle>
      <a class="font-heebo ml-2 text-gray-400" routerLink="/login">
        Lembrei a senha!
      </a>
      <!-- <h2 class="font-heebo text-gray-400 ml-4">Acesso restrito.</h2> -->
    </div>
  </form>
</div>
