<nav
  class="fixed z-50 flex w-full flex-wrap items-center justify-between bg-white py-3 text-neutral-500 shadow-lg"
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="flex items-center">
      <app-icon-menu class="px-2"> </app-icon-menu>
      <app-img-flowly class="px-6"> </app-img-flowly>
    </div>

    <div class="flex items-center">
      <app-icon-plus class="px-3"> </app-icon-plus>
      <div class="h-7 border-l-2"></div>
      <div class="flex px-3">
        <img
          src="assets/images/Avatar.jpg"
          class="mr-3 h-10 rounded-full"
          alt="Flowbite Logo"
        />
        <span class="self-center whitespace-nowrap text-xs font-semibold"
          >Freela Name</span
        >
      </div>
    </div>
  </div>
</nav>
