<nav
  class="fixed flex w-full z-50 flex-wrap items-center justify-between bg-white py-3 text-neutral-500 shadow-lg lg:py-4"
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <div class="flex items-center">
      <app-icon-menu class="px-2"> </app-icon-menu>
      <app-img-flowly class="px-6"> </app-img-flowly>
    </div>

    <div class="flex items-center">
      <app-icon-plus class="px-3"> </app-icon-plus>
      <div class="h-7 border-l-2 border-basic-300"></div>
      <div class="flex px-3">
        <img
          src="assets/images/Avatar.jpg"
          class="h-10 mr-3 rounded-full"
          alt="Flowly Logo"
        />
        <span class="self-center text-xs font-semibold whitespace-nowrap"
          >Freela Name</span
        >
      </div>
    </div>
  </div>
</nav>
