<form
  [formGroup]="createForm"
  class="w-full rounded-md border border-basic-300 bg-basic-100"
>
  <div class="border-b border-basic-300 p-4">
    <h2 class="text-lg font-bold">Editar Proposta</h2>
  </div>

  <div class="p-4">
    <app-input
      label="Titulo"
      [type]="'text'"
      [control]="createForm.get('titulo')"
    ></app-input>

    <app-select
      label="Status"
      [control]="createForm.get('status')"
      [classUp]="['w-1/2']"
    >
    </app-select>
  </div>

  <div class="flex justify-end gap-3 border-t border-basic-300 p-4">
    <app-button (mouseup)="cancel()" buttonColor="ghost">Cancelar</app-button>
    <app-button (mouseup)="continuar()">Salvar</app-button>
  </div>
</form>
