<span *ngIf="status === 0" class="px-2 py-1 text-xs font-semibold rounded-full bg-basic-200 text-basic-600">rascunho</span>
<span *ngIf="status === 1" class="px-2 py-1 text-xs font-semibold rounded-full bg-info-100 text-info-900">enviado</span>
<span *ngIf="status === 2" class="px-2 py-1 text-xs font-semibold rounded-full bg-warning-100 text-warning-900">vizualizado</span>
<span *ngIf="status === 3" class="px-2 py-1 text-xs font-semibold rounded-full bg-danger-100 text-danger-900">rejeitado</span>
<span *ngIf="status === 4" class="px-2 py-1 text-xs font-semibold rounded-full bg-success-100 text-success-900">aceito</span>
<span *ngIf="status === 5" class="px-2 py-1 text-xs font-semibold rounded-full bg-success-100 text-success-900">assinado</span>
