<section class="h-screen bg-[#FBFCF7]">
  <div class="flex h-screen items-center justify-center">
    <!-- imagem -->
    <div class="animate-div z-30 hidden md:block md:w-6/12 lg:w-6/12">
      <img
        src="../../../assets/images/login-capa.jpg"
        class="h-screen object-cover object-center"
        alt=""
      />
    </div>
    <div
      class="z-20 flex h-full items-center justify-center md:w-6/12 2xl:w-6/12"
      [@routeAnimations]="prepareRoute(outlet)"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</section>
