<app-page-layout>
  <div class="w-full flex-grow">
    <div class="rounded-md border border-basic-300 bg-basic-100">
      <div class="flex items-center gap-2 border-b border-basic-300 p-4">
        <h3 class="flex-grow text-lg font-semibold">Criar Proposta</h3>
      </div>

      <form [formGroup]="propostaForm" class="flex flex-col gap-2 p-4">
        <div class="flex gap-2">
          <app-select
            label="Cliente"
            [control]="propostaForm.get('clientes')"
            [classUp]="['w-1/2']"
            [options]="clientesFormatado$ | async"
          >
          </app-select>

          <app-input
            label="titulo"
            [control]="propostaForm.get('titulo')"
            [classUp]="['w-1/2']"
          ></app-input>

          <!-- <app-select
            label="status"
            [control]="propostaForm.get('email')"
            [classUp]="['w-1/2']"
          >
          </app-select> -->
        </div>

        <div class="flex gap-2">
          <app-button
            (clickButton)="loginUser()"
            colorBg="warning"
            [disabled]="propostaForm.invalid"
            [classUp]="['w-full', 'mt-4']"
          >
            Voltar
          </app-button>
          <app-button
            (clickButton)="loginUser()"
            colorBg="primary"
            [disabled]="propostaForm.invalid"
            [classUp]="['w-full', 'mt-4']"
          >
            Cadastrar
          </app-button>
        </div>
      </form>
    </div>
  </div>
</app-page-layout>
