<div *ngFor="let message of messages" class="flex items-start p-4 border-b border-basic-300 last:border-b-0">
  <span *ngIf="message.status === 'READ'" class="m-3 ml-1 w-2 h-2 rounded-full bg-txt-accent"></span>
  <span *ngIf="message.status === 'RECEIVED'" class="m-3 ml-1 w-2 h-2 rounded-full bg-txt-disabled opacity-60"></span>
  <div class="flex-grow">
    <a href="#" class="text-base font-semibold hover:underline hover:text-txt-accent transition-all">
      <span>"</span>
      {{ message.subject }}
      <span>"</span>
    </a>
    <p class="text-sm text-txt-disabled">
      {{ message.status === 'SENT' ? 'enviado para:': 'recebido de:' }}
      <span class="hover:underline hover:text-txt-accent transition-all">
        <a href="#">{{ message.status === 'SENT' ? message.to.name: message.from.name }}</a>
      </span>
    </p>
    <p class="text-sm text-txt-disabled">{{ message.date }}</p>
  </div>
  <div class="flex flex-col items-end gap-2 min-h-[60px] justify-end">
    <button *ngIf="message.attach" class="text-basic-600 hover:text-primary-500">
      <app-icon-attach width="30"></app-icon-attach>
    </button>
    <a href="#" class="text-txt-hint hover:underline">ver email</a>
  </div>
</div>