<form
  [formGroup]="createForm"
  class="w-full rounded-md border border-basic-300 bg-basic-100"
>
  <div class="border-b border-basic-300 p-4">
    <h2 class="text-lg font-bold">Novo Contrato</h2>
  </div>

  <div class="p-4">
    <div *ngIf="errorMessage !== ''" class="bg-danger-100 text-danger-500 p-2 text-sm font-medium border border-danger-200 rounded-md mb-4">
      <p>{{ errorMessage }}</p>
    </div>
  
    <app-select
      label="Cliente"
      [control]="createForm.get('cliente')"
      [classUp]="['w-1/2']"
      [options]="clientesFormatado$ | async"
    >
    </app-select>

    <app-input
      label="Titulo"
      [type]="'text'"
      [control]="createForm.get('titulo')"
    ></app-input>

  </div>

  <div class="flex justify-end gap-3 border-t border-basic-300 p-4">
    <app-button (mouseup)="cancel()" buttonColor="ghost">Cancelar</app-button>
    <app-button (mouseup)="continuar()">Salvar</app-button>
  </div>
</form>
