<form [formGroup]="createForm" class="w-full bg-basic-100 border border-basic-300 rounded-md">
    <div class="border-b border-basic-300 p-4">
        <h2 class="text-lg font-bold">Novo Projeto</h2>
        <p class="text-base font-semibold">Criar novo projeto</p>
    </div>

    <div class="p-4">
        <app-input label="Título" [control]="createForm.get('titulo')"></app-input>

        <app-select label="Status" [control]="createForm.get('status')"></app-select>

        <app-input label="Data de inicio" [control]="createForm.get('data_inicio')"></app-input>

        <app-input label="Valor" [control]="createForm.get('valor')"></app-input>

        <div *ngIf="errorMessage !== ''" class="error-style">
            <p>{{ errorMessage }}</p>
        </div>
    </div>

    <div class="flex gap-3 justify-end border-t border-basic-300 p-4">
        <app-button (mouseup)="cancel()" buttonColor="ghost">Cancelar</app-button>
        <app-button (mouseup)="createCliente()">Salvar</app-button>
    </div>

</form>