<app-sidebar (hovered)="onSidebarHovered($event)" [isOpen]="menuOpen"> </app-sidebar>
<app-navbar (open)="onMenuClick($event)" [sidebarHovered]="sidebarHovered"> </app-navbar>
<div class="ml-16 bg-basic-200 min-h-full flex flex-wrap gap-4 content-start p-4">
  <div class="flex-grow w-full">
    <app-card [card]="{ title: 'Projetos Ativos', icon: 'plus', openPopup: 'CREATE_PROJETO' }" (openPopup)="onCardIconClick($event)">
      <app-project-status></app-project-status>
    </app-card>
  </div>

  <div class="flex-grow w-3/5">
    <app-card [card]="{ title: 'Mensagens Recentes', icon: 'email', openPopup: 'CREATE_EMAIL' }" (openPopup)="onCardIconClick($event)">
      <p>Hello Content</p>
    </app-card>
  </div>

  <div class="flex-grow min-w-max flex gap-4 flex-col">
    <app-card [card]="{ title: 'Propostas enviadas', icon: 'plus', openPopup: 'CREATE_PROPOSTA' }" (openPopup)="onCardIconClick($event)">
      <app-document-status></app-document-status>
    </app-card>
    <app-card [card]="{ title: 'Contratos enviadas', icon: 'plus', openPopup: 'CREATE_CONTRATO' }" (openPopup)="onCardIconClick($event)">
      <app-document-status></app-document-status>
    </app-card>
  </div>
</div>
