<app-page-layout>
  <div class="flex-grow w-full">
    <app-card [card]="{ title: 'Projetos Ativos', icon: 'plus', openPopup: 'CREATE_PROJETO' }"
      (openPopup)="openModal($event, true)">
      <app-project-status></app-project-status>
    </app-card>
  </div>

  <div class="flex-grow min-w-max w-1/3">
    <app-card [card]="{ title: 'Propostas enviadas', icon: 'plus', openPopup: 'CREATE_PROPOSTA' }"
      (openPopup)="openModal($event, true)">
      <app-document-status documentType="proposta"></app-document-status>
    </app-card>
  </div>

  <div class="flex-grow min-w-max w-1/3">
    <app-card [card]="{ title: 'Contratos enviadas', icon: 'plus', openPopup: 'CREATE_CONTRATO' }"
      (openPopup)="openModal($event, true)">
      <app-document-status documentType="contrato"></app-document-status>
    </app-card>
  </div>
</app-page-layout>